@font-face {
    font-family: 'bebas';
    src: url("BebasKai.woff2") format("woff2"), url("BebasKai.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
.adbuy-banner {
    background: #f9ed05;
    background: -moz-linear-gradient(top, #f9ed05 0%, #fccd4d 31%, #f8b500 51%, #f9ed05 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9ed05), color-stop(31%, #fccd4d), color-stop(51%, #f8b500), color-stop(100%, #f9ed05));
    background: -webkit-linear-gradient(top, #f9ed05 0%, #fccd4d 31%, #f8b500 51%, #f9ed05 100%);
    background: -o-linear-gradient(top, #f9ed05 0%, #fccd4d 31%, #f8b500 51%, #f9ed05 100%);
    background: -ms-linear-gradient(top, #f9ed05 0%, #fccd4d 31%, #f8b500 51%, #f9ed05 100%);
    background: linear-gradient(to bottom, #f9ed05 0%, #fccd4d 31%, #f8b500 51%, #f9ed05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ed05', endColorstr='#f9ed05', GradientType=0 );
    display: flex; flex-flow: wrap;
    justify-content: center;
    padding: 15px
}

.adbuy-banner .buy-text {
    font-family: bebas,Arial;
    font-size: 3.2rem;
    text-align: center;
    display: block;
    color: white;
    text-shadow: #000 2px 2px 4px;
    font-family: bebas, "Open Sanse", Arial;
    white-space: pre-wrap;
}
.adbuy-banner .buy-text.Size-300x100 { font-size: 1.5rem; line-height: 1.2rem; display: block; float: left; margin: 18px 10px;}
.adbuy-banner .buy-text.Size-300x250 { font-size: 4rem; line-height: 3.7rem  }
.adbuy-banner .buy-text.Size-160x600 { font-size: 42px; line-height: 49px;  margin: 10px 5px 0px 5px;  }
.adbuy-banner .buy-text.Size-200x200 { font-size: 25px; line-height: 25px;  margin: 10px 5px 0px 5px;  }
.adbuy-banner .buy-text.Size-200x333 { font-size: 30px; line-height: 30px;  margin: 10px 5px 0px 5px;  }
.adbuy-banner .buy-text.Size-200x100 { font-size: 1.8rem;  line-height: 15px; white-space: normal  }
.adbuy-banner .buy-text.Size-728x90  { font-size: 2.5rem; line-height: 2.4rem; display: inline-block; margin-right: 25px; margin-top: 5px; }
.adbuy-banner .buy-text.Size-468x60  { font-size: 1.5rem; line-height: 1.2rem; display: inline-block; margin-right: 25px; margin-top: 7px; }

.adbuy-banner .buy-button {
    display: block;
    width: 90%;
    max-height: 30px;
    border-radius: 8px;
    box-shadow: #000 2px 2px 4px;
    background: Green;
    color: white;
    text-align: center;
    vertical-align: baseline;
    border: solid 2px white;
    font-family: bebas,Arial;
    padding: 10px;
    margin: 10px;
}
.adbuy-banner .buy-button.Size-300x100 { font-size: 14px; line-height: 1rem; display: block; float: left; padding: 6px 2px; margin: 25px 10px;  }
.adbuy-banner .buy-button.Size-160x600 { font-size: .8rem; padding: 3px; margin: 0px  }
.adbuy-banner .buy-button.Size-200x200 { font-size: 1.3rem;  }
.adbuy-banner .buy-button.Size-200x333 { font-size: 1.3rem;  }
.adbuy-banner .buy-button.Size-200x100 { font-size: 1.2rem; line-height: .9rem; height: 25px; padding: 7px; }
.adbuy-banner .buy-button.Size-728x90  { font-size: 18px; line-height: 1.6rem; display: inline-block; margin-right: 25px; padding: 2px 0px; width: 30%; margin-top: 20px; }
.adbuy-banner .buy-button.Size-468x60  { font-size: 14px; line-height: 14px; display: inline-block; margin-right: 25px; padding: 8px 0px; width: 30%; margin-top: 8px; }
.adbuy-banner .buy-sub-text {
    font-family: bebas,Arial;
    font-size: 2rem;
    text-align: center;
    display: block;
    color: #414046;
    font-family: bebas, "Open Sanse", Arial;
    white-space: pre-wrap;
}
.adbuy-banner .buy-sub-text.Size-300x100  { font-size: 1.2rem; line-height: 1rem; white-space: normal; display: inline-block; vertical-align: top; white-space: normal; margin: 15px 10px;}
.adbuy-banner .buy-sub-text.Size-160x600 { font-size: 35px; line-height: 50px; }
.adbuy-banner .buy-sub-text.Size-200x200 { font-size: 2.5rem; white-space: normal }
.adbuy-banner .buy-sub-text.Size-200x333 { font-size: 25px; line-height: 25px; margin-top: 2px; white-space: normal }
.adbuy-banner .buy-sub-text.Size-200x200 { font-size: 20px; line-height: 20px; margin-top: 2px; white-space: normal }
.adbuy-banner .buy-sub-text.Size-200x100 { font-size: 1.5rem; line-height: .9rem; margin-top: 5px}
.adbuy-banner .buy-sub-text.Size-728x90  { font-size: 1.8rem; line-height: 1.5rem; white-space: normal; display: inline-block; vertical-align: top; white-space: normal; margin-top: 19px;}
.adbuy-banner .buy-sub-text.Size-468x60  { font-size: 1.2rem; line-height: 1.5rem; white-space: normal; display: inline-block; vertical-align: top; white-space: normal; margin-top: 5px;}

.adbuy-banner.Size-300x100 {
    width: 300px;
    height: 100px;
    padding: 2px 15px 2px 15px;
    display: flex; flex-flow: nowrap;
}
.adbuy-banner.Size-300x250 {
    width: 300px;
    height: 250px;
}
.adbuy-banner.Size-160x600 {
    width: 160px;
    height: 600px;
}

.adbuy-banner.Size-250x200 {
    width: 250px;
    height: 200px;
}
.adbuy-banner.Size-200x200 {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 5px auto 10px auto;
}
.adbuy-banner.Size-200x333 {
    width: 200px;
    height: 333px;
    padding: 0px;
    margin: 5px auto 10px auto;
}
.adbuy-banner.Size-200x100 {
    width: 200px;
    height: 100px;
}
.adbuy-banner.Size-728x90 {
    width: 728px; height: 90px;
    padding: 2px 15px 2px 15px;
    display: flex; flex-flow: nowrap;
}

.adbuy-banner.Size-468x60 {
    width: 468px; height: 60px;
    padding: 2px 15px 2px 15px;
    display: flex; flex-flow: nowrap;
}

.flex-center {
    text-decoration: none;
}


.link-buttons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0px;
    margin-top: 0px;
    min-height: 30px;
}


.enews-button {
    background-color: #F7F7F7;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background: url(https://static.escortnews.eu/images/gradients/gradient_4.png) 0 0 repeat-x;
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.enews-button:hover {
    color: #000;
}

.link-button {
    font-size: 15px;
    font-weight: normal;
    font-family: "bebas", Arial, Helvetica, sans-serif;
    border: solid 1px #000;
    cursor: pointer;
    margin-right: 5px;
    padding: 5px 10px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

@media(max-width: 640px) {
    .link-buttons-container { flex-wrap: wrap; justify-content: center; }
    .link-button { margin-bottom: 5px; }
    .enews-button { margin-bottom: 5px; }
}


.enews-button.grey {
    background: #F7F7F7;
    color: #000;
}

.enews-button.grey:hover {
    background: #bebebe;
    color: #000;
}


.link-button.yellow {
    color: #000;
    background-color: #FBCC43;
}

.link-button.yellow:hover {
    color: #FFF;
    background-color: #716f0f;
}

.link-button.orange {
    color: #000;
    background-color: #f32308;
}

.link-button.orange:hover {
    color: #FFF;
    background-color: #b41d0a;
}

.link-button.red {
    color: #FFF;
    background-color: #F64457;
}

.link-button.red:hover {
    color: #000;
    background-color: #d70636;
}

.link-button.black {
    color: #FFF;
    background-color: #130105;
}

.link-button.black:hover {
    color: #000;
    background-color: #e5e5e5;
}

.link-button.grey {
    color: #000;
    background-color: #CCC;
}

.link-button.grey:hover {
    color: #FFF;
    background-color: #555454;
}

.link-button.purple {
    color: #ffffff;
    background-color: #752fa4;
}

.link-button.purple:hover {
    color: #100f0f;
    background-color: #a454d9;
}

.link-button.blue {
    color: #ffffff;
    background-color: #263691;
}

.link-button.blue:hover {
    color: #100f0f;
    background-color: #495bbe;
}

.link-button.green {
    color: #ffffff;
    background-color: #368513;
}

.link-button.green:hover {
    color: #100f0f;
    background-color: #66bf3e;
}
